html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.discussion-image-container {
    height: 100%;
    width: 30vw;
    overflow: clip;
    background: red;
    margin: 0;
    padding: 0;
}

.discussion-thumbnail {
    width: auto;
    height: auto;
}

.discussion-card {
    height: 20vh;
    max-height: 300px;
    width: auto;
}

.discussion-body {
    height: 100%;
}

.card-text {
    justify-content: end;
}

.discussion-image {
    height: 100%;
}

.discussion-image-header {
    background: blue;
    margin: 0;
    padding: 0;
    height: 30vh;
}

.content-grid {
    flex-direction: column-reverse;
}

.comment {
    flex-direction: column-reverse;
}